<% content_for :header_subtitle do %>Homework Submission System<% end %>
<section>
  <% if not @email or not /@csie\.ntu\.edu\.tw/ =~ @email %>
  <section>
    <div id="alert-submission" class="alert alert-info">
      <div><strong>Notice:</strong> You <strong>must</strong> submit your homework via the system if you are taking this course. If you are auditing this course, you can send your <strong>git repository url</strong> directly to TAs via email if you do not have an NTU-CSIE account.</div>
    </div>
    <% if @email %>
    <p>You are logged-in with <span class="text-info"><%= @email %></span>.</p>
    <% end %>
    <p>Please <a href="/auth/google_oauth2">login</a> with your NTU-CSIE account. If you do not have an NTU-CSIE account, you can <a href="http://wslab.csie.ntu.edu.tw/22-2/" target="_blank">apply one here</a>.</p>
  </section>
  <section>
    <h4>Login to Google with NTU-CSIE Account</h4>
    <ul class="thumbnails">
      <li class="thumbnail">
        <a href="#add-account-lightbox" data-toggle="lightbox"><%= image_tag 'add-account-small.png' %></a>
      </li>
      <li class="thumbnail">
        <a href="#switch-account-lightbox" data-toggle="lightbox"><%= image_tag 'switch-account-small.png' %></a>
      </li>
    </ul>
    <div id="add-account-lightbox" class="lightbox hide fade">
      <figure class="lightbox-content">
        <%= image_tag 'add-account.png' %>
        <figcaption><p>Select yourself at the upper-right corner, and select <span class="text-info">Add account</span> to add your NTU-CSIE account.</p></figcaption>
      </figure>
    </div>
    <div id="switch-account-lightbox" class="lightbox hide fade">
      <figure class="lightbox-content">
        <%= image_tag 'switch-account.png' %>
        <figcaption><p>You still need to select your NTU-CSIE account if you have already added it to your google accounts.</p></figcaption>
      </figure>
  </section>
  <% else %>
  <section>
    <p>Hi, <span class="text-info"><%= @email %></span>.</p>
    <p>Please submit your git repository.</p>
  </section>
  <div class="alert alert-info">
    <div><strong>Notice:</strong> You must submit the <strong>SSH</strong> clone url for a repository hosting on <a href="http://bitbucket.org/" target="_blank">Bitbucket</a>. Otherwise you will get <strong>no points</strong> for the homework.</div>
  </div>
  <%= form_tag({ :controller => 'path', :action => 'git'}, :method => :get, :id => 'git-submit', :class => 'form-inline') do %>
    <%= select_tag :hw_id, options_for_select([['hw5', 'hw5'], ['hw4', 'hw4'], ['hw3', 'hw3'], ['hw2', 'hw2'], ['hw1', 'hw1']]) %>
    <%= text_field_tag :path, nil, :class=> 'input-xxlarge', :placeholder => 'git@bitbucket.org:ntu-csie-oop/hello-world.git'  %>
    <%= submit_tag 'Submit', :class => 'btn btn-primary' %>
  <% end %>
  <section id="submission_history">
    <h4>Submission History</h4>
    <p id="history_unavailable">No submission history available.</p>
    <table id="history_table" class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Git Repo</th>
          <th>Commit</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody id="history_entries">
      </tbody>
    </table>
  </section>
  <div id="dialog-loading" class="modal hide fade">
    <div class="modal-body">
      <center>
        <%= image_tag 'ajax-loader.gif' %>
        <span>Please wait ...</span>
      </center>
    </div>
  </div>
  <div id="dialog-success" class="modal hide fade">
    <div class="modal-header">
      <h3><span class="dialog-message"></span></h3>
    </div>
    <div class="modal-body">
      <p>This is your <span class="dialog-version"></span> submission for homework <%= @homework_number %>.</p>
      <p>Git repository submitted:</p>
      <pre class="dialog-git-repo text-info"></pre>
      <p>Latest commit:</p>
      <pre class="dialog-commit-details text-info"></pre>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal">Close</button>
    </div>
  </div>
  <div id="dialog-failed" class="modal hide fade">
    <div class="modal-header">
      <h3><span class="dialog-message"></span></h3>
    </div>
    <div class="modal-body">
      <p>Complaints from server:</p>
      <pre class="dialog-error text-error"></pre>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal">Close</button>
    </div>
  </div>
  <% end %>
</section>
<% if @email %>
  <%= javascript_include_tag "welcome" %>
<% end %>
<% content_for :footer_links do %>Current Time: <span class="text-info"><%= Time.now %></span>, Submission Guildline: <a href="https://oophw.csie.org/help">https://oophw.csie.org/help</a><br><% end %>
