<header>
  <h1>Object Oriented Software Design (2013 Spring)</h1>
  <h2>Homework Submission System</h2>
</header>
<section>
  <div id="alert-old-browser" class="alert alert-warning">
    <button class="close" data-dismiss="alert">x</button>
    <div>You are using a browser that is not fully supported by our website. Please upgrade your browser or try other browsers such as <a href="http://www.google.com/chrome" target="_blank">Chrome</a> or <a href="http://www.mozilla.org/firefox" target="_blank">FireFox</a>.</div>
  </div>
  <% if not @email or not /@csie\.ntu\.edu\.tw/ =~ @email %>
  <section>
    <div id="alert-submission" class="alert alert-info">
      <div><strong>Notice:</strong> You <strong>must</strong> submit your homework via the system if you are taking this course. If you are auditing this course, you can send your <strong>git repository url</strong> directly to TAs via email if you do not have an NTU-CSIE account.</div>
    </div>
    <% if @email %>
    <p>You are logged-in with <span class="text-info"><%= @email %></span>.</p>
    <% end %>
    <p>Please <a href="/auth/google_oauth2">login</a> with your NTU-CSIE account. If you do not have an NTU-CSIE account, you can <a href="http://wslab.csie.ntu.edu.tw/22-2/" target="_blank">apply one here</a>.</p>
  </section>
  <% else %>
  <section>
    <p>Hi, <span class="text-info"><%= @email %></span>.</p>
    <p>Please submit your git repository for <strong>homework <%= @homework_number %></strong>.</p>
  </section>
  <div class="alert alert-info">
    <button class="close" data-dismiss="alert">x</button>
    <div>If you're using <a href="http://bitbucket.org" target="_blank">Bitbucket</a>, please submit the <strong>HTTPS</strong> clone url.</div>
  </div>
  <%= form_tag({ :controller => 'path', :action => 'git'}, :method => :get, :id => 'git-submit', :class => 'form-inline') do %>
    <%= text_field_tag :path, nil, :class=> 'input-xlarge', :placeholder => 'git://github.com/octocat/Hello-World.git'  %>
    <%= submit_tag 'Submit', :class => 'btn btn-primary' %>
  <% end %>
  <section>
    <h4>Submission History</h4>
    <% if @submissions.empty? %>
    <p>No submission history available.</p>
    <% else %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Git Repo</th>
          <th>Commit</th>
        </tr>
      </thead>
      <tbody>
        <% @submissions.each do |submission| %>
        <tr>
          <td><%= submission[:version] %></td>
          <td><%= submission[:repo] %></td>
          <td><%= submission[:info].id %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
  </section>
  <div id="dialog-loading" class="modal hide fade">
    <div class="modal-body">
      <center>
        <%= image_tag "ajax-loader.gif" %>
        <span>Please wait ...</span>
      </center>
    </div>
  </div>
  <div id="dialog-success" class="modal hide fade">
    <div class="modal-header">
      <h3><span class="dialog-message"></span></h3>
    </div>
    <div class="modal-body">
      <p>This is your <span class="dialog-version"></span> submission for homework <%= @homework_number %>.</p>
      <p>Git repository submitted:</p>
      <pre class="dialog-git-repo text-info"></pre>
      <p>Latest commit:</p>
      <pre class="dialog-commit-details text-info"></pre>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal">Close</button>
    </div>
  </div>
  <div id="dialog-failed" class="modal hide fade">
    <div class="modal-header">
      <h3><span class="dialog-message"></span></h3>
    </div>
    <div class="modal-body">
      <p>Complaints from server:</p>
      <pre class="dialog-error text-error"></pre>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal">Close</button>
    </div>
  </div>
  <% end %>
  <script type="text/javascript">
    $(function() {
      if($.support.boxModel) {
        $('#alert-old-browser').hide();
      }
      <% if @email %>
      $('#dialog-loading').modal({ backdrop: 'static', show: false });
      $('#dialog-success')
        .modal({ show: false })
        .on('hidden', function() {
          window.location = window.location;
        });
      $('#dialog-failed')
        .modal({ show: false })
        .on('hidden', function() {
          window.location = window.location;
        });
      $('#git-submit').submit(function() {
        $('#dialog-loading').modal('show');
        $.ajax({
          url: $(this).attr('action'),
          data: $(this).serialize()
        }).done(function(res) {
          $('#dialog-loading').modal('hide');
          $('#git-submit :input:text').val('');

          var $dialog = $('#dialog-success');
          $('.dialog-message', $dialog).text(res.message);
          $('.dialog-version', $dialog).text(res.version);
          $('.dialog-git-repo', $dialog).text(res.repo);
          $('.dialog-commit-details', $dialog).text(
              'Commit: ' + res.info.id + '\n' +
              'Author: ' + res.info.author.name + ' <' + res.info.author.email + '>\n' +
              'Date: ' + res.info.authored_date
          );
          $dialog.modal('show');
        }).fail(function(jqxhr, textStatus, errorThrown) {
          $('#dialog-loading').modal('hide');

          var $dialog = $('#dialog-failed');
          var res = JSON.parse(jqxhr.responseText);
          $('.dialog-message', $dialog).text(res.message);
          $('.dialog-error', $dialog).text(res.error);
          $dialog.modal('show');
        });
        return false;
      });
      <% end %>
    });
  </script>
</section>
